.advantages__image {
  display: block;
  margin: 0 auto;
}

.advantages__list {
  .list();
}

.advantages__title {
  .title();
}

.advantages__description,
.advantages__number {
  .description();
}

.advantages__item--highlight {
  background-color: @base-color;
}

.advantages__title--highlight,
.advantages__number--highlight,
.advantages__description--highlight {
  color: @white;
}

.advantages__item--variant {
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__item--highlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
  }

  .advantages__image {
    grid-columns: 2/-1;
  }

  .advantages__card--secondary {
    order: 2;
    grid-column: 3/-1;
  }

  .advantages__image--secondary {
    grid-column: 1/3;
  }
}
