.advantages__image {
  display: block;
  margin: 0 auto;
}

.advantages__list {
  .list();
}

.advantages__title {
  .title();
}

.advantages__description {
  .description();
}

.advantages__number {
  .description();
}

.advantages__item--highlight {
  background-color: @base-color;
}

.advantages__title--highlight,
.advantages__number--highlight,
.advantages__description--highlight{
  color: @white;
}

.advantages__title--highlight {
  padding-bottom: 13px;
}

.advantages__number--highlight {
  padding-bottom: 15px;
}

.advantages__item--variant {
  background-color: #eeeeee;
  padding: 24px 18px;
}

.advantages__item--variant:nth-last-child(1) {
  padding-bottom: 28px;
}

.advantages__title--variant {
  padding-bottom: 11px;
}

.advantages__number--variant {
  padding-bottom: 18px;
}

.advantages__description--variant {
  padding-left: 18px;
  padding-right: 18px;
}

.advantages__card {
  padding: 69px 18px 40px;
}

.advantages__card--secondary {
  padding: 37px 18px;
}

