.catalog {

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.catalog__header {
  padding: 30px 20px 44px 20px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 0 auto;
    padding: 0;
  }
}

.catalog__slogan {
  .title();
  margin: 0;
  margin-bottom: 25px;
}

.catalog__intro {
  .text();
  margin: 0;
}

.catalog__list {
  .list();

  @media (min-width: @tablet-width) {
    display: grid;
    width: 648px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    width: 1200px;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.catalog__item {
  @media (max-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;

    &:nth-last-child(1) {
    padding-bottom: 43px;
    }
  }
}

.catalog__item--first {
  @media (min-width: @tablet-width) {
    padding: 0;
    grid-column: 1 / -1;
  }
}
