.control__group {
  height: 46px;
  display: block;
}

.control__list {
  .list();
}

.control__list--opinion {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.control__list--visited-places {
  @media (min-width: @tablet-width) {
    width: 480px;
    display: grid;
    grid-template-columns: 224px 224px;
    gap: 16px 32px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    display: flex;
    justify-content: space-between;
  }
}

.control__item {
  position: relative;
  display: block;
  padding-left: 62px;
  margin: 0 auto;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.control__item:nth-last-child(1) {
  padding-bottom: 0;
}

.control__item--opinion {
  @media (min-width: @tablet-width) {
    width: 234px;
  }
}

.control__item--visited-places {
  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    width: 178px;
  }

  @media (min-width: @desktop-width) {
    width: 124px;
  }
}

.control__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.control__mark {
  position: absolute;
  top: -11px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.control__input[type="checkbox"] + .control__mark {
  border-radius: 4px;
}
