.control__list {
  .list();
}

.control__list--opinion {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 280px 280px;
    padding: 6px 96px 22px;
    gap: 6px 16px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 856px;
    margin: 0 auto;
    padding-top: 0;
    gap: 59px;
  }
}

.control__list--visited-places {
  padding: 2px 20px 22px;

  @media (min-width: @tablet-width) {
    width: 480px;
    display: grid;
    grid-template-columns: 224px 224px;
    gap: 6px 32px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 870px;
    display: grid;
    grid-template-columns: 172px 170px 153px 184px;
    gap: 64px;
  }
}

.control__item {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.control__item:nth-last-child(1) {
  margin-bottom: 0;
}

.control__item--opinion {
  @media (min-width: @tablet-width) {
    width: 250px;
    margin-bottom: 20px;
  }
}

.control__item--visited-places {
  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
    width: 185px;
  }

  @media (min-width: @desktop-width) {
    width: 124px;
  }
}

.control__group {
  position: relative;
  // min-height: 46px;
  display: block;
  padding-left: 62px;
}


.control__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 10px;
  display: block;
  width: 200px;
}

.control__mark {
  position: absolute;
  top: -11px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.control__input[type="checkbox"] + .control__mark {
  border-radius: 4px;
}

.control__group:active .control__input[type="checkbox"]:checked + .control__mark::before {
  opacity: 0.3;
}

.control__input[type="checkbox"]:checked {
  & + .control__mark::before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 11px);
    width: 22px;
    height: 16px;
    content: "";
    background-image: url("../img/tick.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.control__group:active .control__input[type="radio"]:checked + .control__mark::before {
  opacity: 0.3;
}


.control__input[type="radio"]:checked {
  & + .control__mark::before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: "";
    background-color: @text-color;
  }

  &:active {
    opacity: 0.3;
  }
}
