.footer__copyright-logo {
  vertical-align: middle;
  padding-left: 10px;

  @media (min-width: @tablet-width) {
    padding-right: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 9px;
  }
}

.footer__copyright-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 55px;

  &:hover {
    color: #669ec0;
  }

  &:active,
  &:focus {
    color: #b3b3b3;
  }
}
