@media (max-width:@mobile-width-only) {
  .features {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 23px 18px 46px 65px;
    background-color: @white;
  }
}

.features__title {
  .title();
  text-align: start;
  padding-top: 8px;
  padding-bottom: 16px;
}

.features__description {
  .description();
  text-align: start;
}

@media (min-width: @tablet-width) {
  .features {
    grid-row: 1/-1;
    padding: 0;
    margin: o auto;
  }

  .features__title,
  .features__description {
    text-align: center;
  }


}
