.features {
  background-color: @white;
}

@media (max-width:@mobile-width-only) {
  .features {

  }
}

.features__title {
  .title();
  text-align: start;
  padding-top: 8px;
  padding-bottom: 16px;
}

.features__description {
  .description();
  text-align: start;
}

@media (min-width: @tablet-width) {
  .features {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
  }


  .features__title,
  .features__description {
    text-align: center;
  }
}
