.footer {
  padding: 5px 20px 20px;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: 0 auto;
  }
}

.footer__hashtag {
  margin: 0 auto;
  padding: 10px 65px 15px 65px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-right: 72px;
    margin-top: -14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -19px;
  }
}

.footer__hashtag a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  text-align: center;
  font-size: 21px;
  font-weight: 700;

  &:hover {
    color: #669ec0;
  }

  &:active,
  &:focus {
    color: #b3b3b3;
  }
}

.footer__list {
  .list();
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 156px;
  gap: 6px;
  padding-top: 16px;
  padding-bottom: 25px;
}

.footer__link {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  background-color: @base-color;


  &:hover {
    background-color: @hover-color;
  }

  &:focus,
  &:active {
    background-color: @active-color;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.footer__link-logo {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  fill: @white;
  transform: translate(-50%, -50%);
}

