.footer {
  padding: 0 20px 20px;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    display: flex;
    justify-content: space-between;
    padding: 37px 60px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: 0 auto;
  }
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-right: 72px;
    margin-top: -14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -19px;
  }
}

.footer__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  text-align: center;
  font-size: 21px;
  font-weight: 700;

  &:hover {
    color: #669ec0;
  }

  &:active,
  &:focus {
    color: #b3b3b3;
  }
}
