.footer {
  padding: 22px 20px 20px;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 976px;
    margin: 0 auto;
  }
}

.social__list {
  .list();
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 156px;
  gap: 6px;
  margin-bottom: 21px;
}

.social__link {
  &:hover {
    background-color: @hover-color;
  }

  &:active {
    background-color: @active-color;
    color: rgba(255, 255, 255, 0.3);
  }
}

.social__link--telegram::before {
  content: "";
  background-image: url(/source/img/telegram-icon.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 30px;
}

.footer__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.copyright {
  padding-bottom: 23px;
}

.copyright__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
