.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.header {
  @media (min-width: @tablet-width) {
    width: 434px;
    margin: 0 auto;
  }
}

.form__header {
  padding: 36px 20px 28px 20px;
}

.form__intro {
  padding-bottom: 25px;
}

.form__header {
  padding: 36px 20px 28px 20px;
}

.form-button {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  width: 284px;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-button-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 768px;
    }
  }
}

.form-button {
  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0;
  }
}
