.form-group {
  border: none;
  margin: 0;
  padding: 0;
}

.form-group--opinion {
  padding: 31px 20px 13px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding: 37px 96px 13px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
    padding-bottom: 10px;
  }
}

.form-group--visited-places {
  padding: 31px 20px 14px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 37px;
    margin-bottom: 8px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 50px;
  }
}

.form-group--textarea {
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 28px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 29px;
  }
}

.form-group__title {
  .title();

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.form-group__title--intro {
  @media (min-width: @tablet-width) {
    padding-left: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 64px;
  }
}

.form-group__title--opinion {
  padding-top: 25px;

  @media (min-width: @desktop-width) {
    padding-top: 32px;
  }
}

.form-group__title--visited-places {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding: 25px 172px 2px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 376px 32px;
  }
}

.form-group__title--textarea {
  padding-top: 25px;
}

.form-button {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover {
    background-color: @hover-color;
  }

  &:active {
    background-color: @active-color;
    color: rgba(255, 255, 255, 0.3);
    ;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0;
  }
}

.form-button-wrapper {
  padding: 29px 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 648px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
  }
}

.form__legend {
  font-family: inherit;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  text-align: right;
  padding-top: 3px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    padding-top: 23px;
  }
}
