.form {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 280px 298px;
    gap: 12px 68px;
    /* margin: 0 auto; */
    padding-left: 60px;
    padding-right: 60px;
  }
}

.form__group {
  position: relative;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (max-width: @mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 320px;
      height: 1px;
      background-color: #e5e5e5;
      bottom: 0;
      left: -19px;
    }

    &--textarea::after {
      left: 0;
    }

    &--information::before {
        content: "";
        position: absolute;
        width: 320px;
        height: 1px;
        background-color: #e5e5e5;
        top: -70px;
        left: -19px;
    }
  }
}

.form__group {
  @media (min-width: @tablet-width) {
    &:nth-child(1)::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      top: -54px;
      right: -42px;
    }

    &:nth-child(3) {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 280px 280px;
      gap: 0 16px;
    }

    &:nth-child(4) {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 224px 224px;
      gap: 0 32px;
    }

    &:nth-child(5) {
      grid-column: 1/-1;
    }
  }
}

.form__label {
  display: block;
  padding-left: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  &--contacts {
    @media (min-width: @tablet-width) {
      padding-left: 36px;
    }
  }
}

.form__input {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px 68px 16px 16px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  outline: none;
  margin-bottom: 16px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    background-color: @white;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.form__input {
  &[type="tel"] {
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  &[type="email"] {
    background-image: url("../img/email-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 11px;
  }
}

.form__input--contacts {
  @media (min-width: @tablet-width) {
    margin-left: 18px;
  }
}

.form__title {
  .title();
  background-color: @white;
  padding-top: 24px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding-top: 27px;
    padding-bottom: 28px;

    &--information {
      padding-left: 40px;
    }

    &--contacts {
      padding-right: 20px;
    }

    &--opinion {
      padding-top: 36px;
    }

    &--visited-places {
      padding-top: 36px;
    }

    &--textarea {
      padding-top: 15px;
    }
  }
}

.form__control-group {
  position: relative;
  // min-height: 46px;
  display: block;
  padding-left: 62px;
  margin-bottom: 16px;
}

.form__control-group:nth-last-child(1) {
  margin-bottom: 0;
}

.form__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 200px;
}

.form__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.form__control-input[type="checkbox"] + .form__control-mark {
  border-radius: 4px;
}

.form__control-group:active .control__input[type="checkbox"]:checked + .form__control-mark::before {
  opacity: 0.3;
}

.form__control-input[type="checkbox"]:checked {
  & + .form__control-mark::before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 11px);
    width: 22px;
    height: 16px;
    content: "";
    background-image: url("../img/tick.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.form__control-group:active .form__control-input[type="radio"]:checked + .form__control-mark::before {
  opacity: 0.3;
}


.form__control-input[type="radio"]:checked {
  & + .form__control-mark::before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: "";
    background-color: @text-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 34px 20px 33px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    width: 648px;
    margin: 0 auto;
    padding: 35px 0 85px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
    padding-top: 17px;
  }
}

.button--form {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 324px;
    float: left;
    margin: 0;
  }
}

.form__legend {
  font-family: inherit;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
  text-align: right;
  padding-top: 3px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    padding-top: 23px;
    float: right;
  }
}
