.hero-banner {
  background-image: url("../img/hero-banner.jpeg");
  background-color: @current-color;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -40px;
}

.hero-banner__image {
  padding-top: 90px;
  padding-bottom: 85px;
  display: block;
  margin: 0 auto;
}

.hero-banner__image-catalog {
  padding-top: 52px;
  padding-bottom: 67px;
  display: block;
  margin: 0 auto;
}
