.information__list {
  .list();
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.information__item {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.information__item--middle-name {
  padding-bottom: 39px;
}

.information__item--email {
  padding-bottom: 34px;
}

.information__legend {
  padding-top: 24px;
  padding-bottom: 21px;
}


