.information__list {
  .list();
  display: flex;
  gap: 16px;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .information__list {
    width: 280px;
  }

  .information__list.contact {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .information__list {
    width: 430px;
  }
}
