@media (min-width: @tablet-width) {
  .information {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .information {
    width: 960px;
  }
}
