.main-nav {
  display: block;
  color: @black;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
}

.main-nav__list (
  .list(none, 0, 0);
)
