.main-nav {
  display: block;
  color: @black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  background-color: @base-color;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main-nav__list {
  .list();
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 320px;
}

.main-nav__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:nth-child(1) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  }

  &:nth-last-child(1) {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  padding-top: 17px;
  padding-bottom: 12px;
}

.main-nav__toggle {
  position: absolute;
}
