.modal__title--success {
  padding-bottom: 26px;
}

.modal__description--success {
  width: 237px;
  margin: 0 auto;
  padding-bottom: 65px;
}

.modal__content--success {
  padding: 45px 42px 35px 41px;
}

.button--modal-success {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding-top: 18px;
  padding-right: 62px;
  padding-bottom: 14px;
  padding-left: 60px;
}
