.page-intro {
  padding: 32px 18px 16px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/icons/bottom-triangle-mobile.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 37px;
    bottom: -37px;
    left: 0;
    z-index: 1;
  }

  @media (min-width: @tablet-width) {
    &::after {
      display: none;
    }

    margin: 0 auto;
    padding: 47px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    width: 484px;
    padding-top: 59px;
    padding-bottom: 23px;
  }
}

.page-intro--catalog {
  padding: 38px 20px 25px;
  width: auto;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
    padding-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 370px 82px 372px;
  }
}

.page-intro--form {
  padding: 32px 20px 26px;

  @media (min-width: @tablet-width) {
    padding: 59px 166px 102px;
  }

  @media (min-width: @desktop-width) {
    padding: 109px;
    padding-bottom: 66px;
  }
}

.page-intro__header {
  .title();
  margin: auto;
  width: 90%;
  margin-bottom: 36px;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 29px;
  }
}

.page-intro__header--catalog {
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 1.24;
    margin-bottom: 26px;
  }
}

.page-intro__header--form {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 1.24;
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 27px;
  }
}

.page-intro__text {
  .text();
  margin: 0;

  @media (min-width: @tablet-width) {
    br {
      display: none;
    }
  }
}
