.page-container {
  min-width: 320px;
  position: relative;

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 20%) 0 0 15px 0;
  }
}
