.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 22px;
}

.search__description {
  .description();
  padding-bottom: 32px;
  padding-left: 18px;
  padding-right: 18px;
}

.search-button {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  width: 284px;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search__map {
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .search {
    width: 435px;
    margin: 0 auto;
  }
}
