.textarea__legend {
  padding-top: 24px;
  padding-bottom: 20px;
  display: block;
}

.textarea__comment {
  width: 248px;
  height: 118px;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 17px;
  border: none;
  outline: none;
  margin-left: 18px;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0 auto;
    width: 616px;
    height: 128px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 736px;
  }
}
